
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page -->
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="@Url.Action("Index","Home")">Home</a>
                    <i>|</i>
                </li>
                <li>
                    About Us
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- //page -->
<!-- about -->
<div class="welcome py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>A</span>bout
            <span>U</span>s
        </h3>
        <!-- //tittle heading -->
        <div class="row">
            <div class="col-lg-6 welcome-left">
                <h3>Welcome</h3>
                <h4 class="my-sm-3 my-2">
                    Come to our shop to have a great shopping experience.
                </h4>
                <p>
                    We always provide genuine, quality products with the most reasonable prices
                </p>
            </div>
            <div class="col-lg-6 welcome-right-top mt-lg-0 mt-sm-5 mt-4">
                <img src="~/Assets/client/images/ab.jpg" class="img-fluid" alt=" ">
            </div>
        </div>
    </div>
</div>
<!-- //about -->
<!-- testimonials -->
<div class="testimonials py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center text-white mb-lg-5 mb-sm-4 mb-3">
            <span>O</span>ur
            <span>C</span>ustomers
            <span>S</span>ays
        </h3>
        <!-- tittle heading -->
        <div class="row gallery-index">
            <div class="col-sm-6 med-testi-grid">
                <div class="med-testi test-tooltip rounded p-4">
                    <p>
                        "It was fun shopping here!"
                    </p>
                </div>
                <div class="row med-testi-left my-5">
                    <div class="col-lg-2 col-3 w3ls-med-testi-img">
                        <img src="~/Assets/client/images/user.jpg" alt=" " class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-lg-10 col-9 med-testi-txt">
                        <h4 class="font-weight-bold mb-lg-1 mb-2">Công chan</h4>
                        <p>Master ASP.NET</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 med-testi-grid">
                <div class="med-testi test-tooltip rounded p-4">
                    <p>
                        "The product of the shop is quality!""
                    </p>
                </div>
                <div class="row med-testi-left my-5">
                    <div class="col-lg-2 col-3 w3ls-med-testi-img">
                        <img src="~/Assets/client/images/user.jpg" alt=" " class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-lg-10 col-9 med-testi-txt">
                        <h4 class="font-weight-bold mb-lg-1 mb-2">Khoa KT</h4>
                        <p>Master PHP</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 med-testi-grid">
                <div class="med-testi test-tooltip rounded p-4">
                    <p>
                        "I enjoyed the quality of service here!"
                    </p>
                </div>
                <div class="row med-testi-left mt-sm-5 my-5">
                    <div class="col-lg-2 col-3 w3ls-med-testi-img">
                        <img src="~/Assets/client/images/user.jpg" alt=" " class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-lg-10 col-9 med-testi-txt">
                        <h4 class="font-weight-bold mb-lg-1 mb-2">Trường Mohamet</h4>
                        <p>Master Android</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 med-testi-grid">
                <div class="med-testi test-tooltip rounded p-4">
                    <p>
                        "It was a great experience buying products here"
                    </p>
                </div>
                <div class="row med-testi-left mt-5">
                    <div class="col-lg-2 col-3 w3ls-med-testi-img">
                        <img src="~/Assets/client/images/user.jpg" alt=" " class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-lg-10 col-9 med-testi-txt">
                        <h4 class="font-weight-bold mb-lg-1 mb-2">Deng</h4>
                        <p>Master Fullstack</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //testimonials -->
